.container {
    // & > * {border: solid green;}
    border: solid 1px var(--LightGray);
    border-radius: 10px;
    display: flex;
    // justify-content: space-between;
    align-items: center;
    padding: 1em;
    column-gap: 0.9em;
    margin-bottom: 0.9em;

    .info {
        flex-grow: 1;
        .name {
            font-weight: 700;
            color: var(--MarineBlue);
            line-height: 1.5;
        }
        .description {
            color: var(--CoolGray);
            font-size: 0.91rem;
        }
    }
    .cost {
        margin-left: auto;
        color: var(--PurplishBlue);
        font-size: 0.8rem;
        font-weight: 500;
    }

    &.selected {
        border-color: var(--PurplishBlue);
        background-color: var(--Alabaster);
    }
}